.login__form {
  border: 1px solid rgba(117, 111, 111, 0.2);
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register__text {
  color: rgba(117, 111, 111, 1);
  font-weight: 700;
  text-align: center;
  font-size: 18px;
  margin-bottom: 25px;
}
