.box {
  margin: 10px 0 10px 25px;
  border: 1px solid rgba(117, 111, 111, 0.2);
  line-height: 40px;
  background-color: white;
}

.box .box__text {
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.box__text .box__link {
  color: rgba(0, 149, 246, 1);
  font-weight: 600;
  margin-left: 5px;
  cursor: pointer;
}

.download {
  margin-left: 25px;
  text-align: center;
}

.download .download__text {
  font-size: 13px;
  cursor: pointer;
}

.download img {
  width: 120px;
  margin: 15px 5px;
  object-fit: cover;
  cursor: pointer;
}
